<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>census CMS - {% block pagetitle %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="assets/stylesheets/backend.css" />
	<script src="assets/javascript/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div class="cms__top">
		<small><a href="/backend/">Dashboard</a> | census 0.0.1-dev</small>
	</div>
	<aside>
		{% include 'partials/navigation.html' %}
	</aside>
	<main>
		<div class="cms__columns">
			{% block main %}{% endblock %}
		</div>
	</main>

<script src="assets/javascript/lib/census.js"></script>
</body>
</html>