<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <h3>census CMS Login</h3>
    <h4>Test</h4>

    {% if valid == false and errors.authenticationError %}
    <p>Error, please verify your login data (you have {{ retryCount }} retries).</p>
    {% endif %}

    {% if valid == false and errors.timeoutError %}
    <p>Error, the login was too long opened. Please <a href="/backend">reload this page</a>.</p>
    {% endif %}

    <form method="post" action="">
        <fieldset>
            <div class="form-row">
                <input type="text" name="user" placeholder="User" />
            </div>
            <div class="form-row">
                <input type="password" name="password" placeholder="Pass" />
            </div>
            <div class="form-row">
                <button type="submit" name="auth">Login</button>
            </div>
        </fieldset>
        <input type="hidden" name="timestamp" value="{{ timestamp }}" />
    </form>
</section>

</body>
</html>