<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <h3>census CMS Login</h3>
    <h4>Test</h4>
    <form method="post" action="">
        <fieldset>
            <div class="form-row">
                <input type="text" name="user" placeholder="User" />
            </div>
            <div class="form-row">
                <input type="password" name="password" placeholder="Pass" />
            </div>
            <div class="form-row">
                <button type="submit" name="auth">Login</button>
            </div>
        </fieldset>
        <input type="hidden" name="timer" value="{time}" />
    </form>
</section>

</body>
</html>