<nav class="cms__sidebar pagetree">
	<h3>Page tree</h3>

	<ul>
		{% for page in pagetree %}
		<li>
			<a href="?cmd=backend&action=module&mod=page&context=edit&dir={{ page.dir }}">{{ page.realname }}</a>
			{% if page._sub %}
			<ul>
				{% for subpage in page._sub %}
				<li>
					<a href="?cmd=backend&action=module&mod=page&context=edit&dir={{ subpage.dir }}">{{ subpage.realname }}</a>
					{% if subpage._sub %}
					<ul>
						{% for subpage2 in subpage._sub %}
						<li>
							<a href="?cmd=backend&action=module&mod=page&context=edit&dir={{ subpage2.dir }}">{{ subpage2.realname }}</a>
							{% if subpage2._sub %}
							<ul>
								{% for subpage3 in subpage2._sub %}
								<li>
									<a href="?cmd=backend&action=module&mod=page&context=edit&dir={{ subpage3.dir }}">{{ subpage3.realname }}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>