<main>
{% if valid == false and errors.timeoutError %}
    <p>Timeout. Please <a href="/backend">reload this page</a> and login again.</p>
{% elseif valid == false and errors.authenticationError %}
    <p>Error, please verify your login data (you have {{ retryCount }} retries).</p>
{% endif %}

{% if valid == false and locked == true %}
    <p>Please contact your administrator, too many login attempts.</p>
{% else %}
    <div class="login__form">
        <header>
            <h3>census CMS Login</h3>
        </header>
        <form method="post">
            <fieldset>
                <div class="form-row">
                    <input type="text" name="user" placeholder="User" autocomplete="off" />
                </div>
                <div class="form-row">
                    <input type="password" name="password" placeholder="Pass" />
                </div>
                <div class="form-row">
                    <button type="submit" name="auth">Login</button>
                </div>
            </fieldset>
            <input type="hidden" name="timestamp" value="{{ timestamp }}" />
        </form>
    </div>
{% endif %}

    <div class="login_meta">
        powered by<br />
        <img src="assets/images/census_logo.svg" alt="powered by census CMS" />
    </div>
</main>