$black: #000;
$white: #fff;

$grey: #999;
$grey-light: #ccc;
$grey-dark: #666;
$grey-ultra-dark: #333;

$red: rgb(190, 0, 0);
$red-dark: rgb(140, 0, 0);
$red-ultra-dark: rgb(100, 0, 0);

$green: rgb(0, 160, 0);
$green-lemon: rgb(223, 235, 0);

$orange: rgb(180, 120, 0);

$blue: rgb(0, 0, 190);
$blue-dark: rgb(0, 0, 140);
$blue-flat: rgb(0, 80, 130);