body {
	font-family: $font-family;

	&:after {
		@include clearfix();
	}
}

aside,
main {
	@include box-sizing(border-box);

	float: left;
	height: $content-height;
}

aside {
	background: $green-lemon;
	padding: $tpl-space-top 0 0 0;
	width: 15%;
}

main {
	color: $font-color;
	width: 85%;

	h1,
	h2,
	h3,
	h4,
	h5 {
		margin-bottom: $space-large;
	}

	p {
		margin: 0 0 $space-medium 0;
	}
}

.cms {
	&__top {
		background: $blue-flat;
		color: $green-lemon;
		min-height: 30px;
		padding-left: $tpl-space-left;

		a {
			color: $white;
		}
	}

	&__columns {
		height: 100%;

		&:after {
			@include clearfix();
		}
	}

	&__sidebar {
		@include box-sizing(border-box);

		background: $grey-light;
		color: $white;
		float: left;
		height: 100%;
		padding: $tpl-space-top 0 0 $tpl-space-left;
		width: 20%;
	}

	&__body {
		@include box-sizing(border-box);

		float: left;
		padding: $tpl-space-top $tpl-space-left $tpl-space-left $tpl-space-left;
		width: 80%;
	}
}

.has {
	&__fullwidth {
		width: 100%;
	}
}